<body class="index_body">
  <headder class="share_headder">
    <h1>Bookers</h1>
  </headder>

  <main class="index_main">
    <%# 一覧表示ポジション %>
    <div class="list_region">
      <table class="table_region" border="1">
        <tr>
            <th>Title</th>
            <th>body</th>
            <th></th>
        </tr>
        <tr>
          <td class="td_title">セミナー名</td>
          <td class="td_body">1日速習HTML・CSSセミナー1日速習1日速習HTML・CSSセミナー1日速習1日速習HTML・CSSセミナー1日速習1日速習HTML・CSSセミナー1日速習1日速習HTML・CSSセミナー1日速習</td>
          <td class="button">
            <a href="#">Show</a>
            <a href="#">Edit</a>
            <a href="#">Destroy</a>
          </td>
        </tr>
        <tr>
          <td>開催日時</td>
          <td>2020年10月31日</td>
          <td class="button">
            <a href="#">Show</a>
            <a href="#">Edit</a>
            <a href="#">Destroy</a>
          </td>
        </tr>
        <tr>
          <td>開催場所</td>
          <td>大阪市内セミナールーム</td>
          <td class="button">
            <a href="#">Show</a>
            <a href="#">Edit</a>
            <a href="#">Destroy</a>
          </td>
        </tr>
        <tr>
          <td>参加費用</td>
          <td>11,000(税込)</td>
          <td class="button">
            <a href="#">Show</a>
            <a href="#">Edit</a>
            <a href="#">Destroy</a>
          </td>
        </tr>
      </table>
    </div>
    <%# 新規登録ポジション %>
    <div class="create_region">
      <%= form_with model: @book  do |f| %>
        <h4>タイトル</h4>
        <%= f.text_field :title %>
	
        <h4>本文</h4>
        <%= f.text_area :body %>

        <%= f.submit '投稿' %>
      <% end %>
    </div>
  </main>
</body>