body {
  width: 100%;
  color: #333333;
  line-height: 18px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-top: 34px;
}

.div-text {
  text-align: left;
  display: inline-block;
}

.div-text p {
  margin: 40px;
}

.div-text a {
  display: block;
  text-align: right;
  margin-right: 12%;
}


@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }
}